html, body{
	height:100%;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
#top-nav{
	height:50px;
	background-color:black;
}
.container{
	height:100%;
	width:70%;
	margin:auto;
	text-align:center;
}
.container h2{
	margin:0;
}
.boxtop{
	height:200px;
	width:30%;
}
.boxp1{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float:left;
}
.boxp2{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	float:right;
}
.boxdice{
	display:inline-block;
}
.boxbottom{
	height:100px;
	width:30%;
}
.clearup{
	margin:50px;
}
.boxdice img{
	margin-top:40px;
}
.playerturn{
	background-color:skyblue;
}
ul {
    text-align: center;
    list-style-position: inside;
}
.rolldice{
	text-decoration: none;
	background-color:skyblue;
	padding:4px;
	border-radius:5px;
	border:1px solid black;
	color:black;
}
li{
	margin:10px 0 10px 0;
	text-align:left;
}
#rules{
	width:700px;
	margin:auto;
}
.hidden{
	display:none;
}
